<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>crudtest</title>
</head>
<body>

<form action="{% url 'add-project' %}" method="post">
    {% csrf_token %}
    <select name="user">
        {% for u in users%}
        <option value="{{u.id}}">{{u.first_name}} - {{u.last_name}}</option>
        {% endfor %}
    </select>
    <input type="text" name="project" placeholder="Set project"/><br>
    <textarea name="description" cols="30" rows="10" placeholder="Type a short description"></textarea><br>
    <button type="submit">test CRUD PROJECT</button>
    
</form>

</body>
</html>